.red {
  color: #F63049;
}

.section-page {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: #111F35;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 80px;
}
.section-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}



.tech-stack-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;

}

.tech-stack-container img {
  width: 96px;
  height: 96px;
  object-fit: contain;
  border-color:#F63049;
  border-radius: 12px;
  border: 2px solid #F63049;
  border-image: linear-gradient(to left top, #F63049, #8A244B) 1;

}

.about-section-content {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color:#F63049;
}


/* About Section elements */
.about-text {
  font-size: 1.2rem;
  line-height: 1.6;
  flex: 1;
  max-width: 30vw;
  min-width: 300px;
}


.red {
  color: #F63049;
}


.project-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.project-pictures {
  display: flex;
  gap: 1rem;
}



.carousel-image {
  height: 500px;
  width: 500px;
  /* this for now until i set picture size properly */

}

.carousel {
  height: 600px;
  width: 100%;
}

.carousel-caption {
    position: relative !important;
    left: auto !important;
    right: auto !important;
    /* width: 600px; */
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
    display: flex;
}
.carousel-inner-caption {
  padding-top: 8px;
  align-items: center;
  text-align: center;
  max-width: 400px;

}

.carousel-indicators {
  bottom: 90px !important;
}

.carousel-indicators button {
  background-color: #F63049 !important;
  /* border-radius: 50%; */
  width: 12px ;
  height: 12px !important;
  border: solid black !important;
  opacity: 0.7;
}
