.red {
  color: #F63049;
}

.section-page {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: #111F35;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 80px;
}



.tech-stack-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;

}

.tech-stack-container img {
  width: 96px;
  height: 96px;
  object-fit: contain;
  border-color:#F63049;
  border-radius: 12px;
  border: 2px solid #F63049;
  border-image: linear-gradient(to left top, #F63049, #8A244B) 1;

}

.about-section-content {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color:#F63049;
}


/* About Section elements */
.about-text {
  font-size: 1.2rem;
  line-height: 1.6;
  flex: 1;
  max-width: 30vw;
  min-width: 300px;
}


.red {
  color: #F63049;
}


.project-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.project-pictures {
  display: flex;
  gap: 1rem;
}
